<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="admin-token" content="{{ SECRET_ADMIN_TOKEN }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Abraham Tartalos</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/logo.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_messages.css') }}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>

  <!--
    - #Mensaje de alerta Flask ("flash-messages") 
  -->
  <div class="flash-messages">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="flash-message {{ category }}">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
  </div>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="{{url_for( 'static', filename='images/my-avatar.png')}}" alt="Abraham Tártalos" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Richard hanrick">Abraham Tártalos</h1>

          <p class="title">Data Scientist</p>
        </div>



        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">
          <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="document-text-outline"></ion-icon>
              </div>
              <a href="ruta_del_CV/CV_Abraham_Tartalos.pdf" class="contact-link" download>
                <div class="contact-info">
                  <p class="contact-title">CV</p>
                  <span id="cv-text">Descargar CV aquí.</span>
                </div>
              </a>
          </li>
        
          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">Phone</p>
              <a href="#" class="contact-link" id="phone-link">Ver número</a>
              <script>
                  document.getElementById("phone-link").addEventListener("click", function () {
                  this.textContent = "+1 (213) 352-2795";
                });
              </script>
            </div>
          </li>
        </ul>
        

        <div class="separator"></div>

        <ul class="social-list">
          <li class="social-item">
            <a href="TU_LINKEDIN_URL" class="social-link" target="_blank">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
          <li class="social-item">
            <a href="TU_GITHUB_URL" class="social-link" target="_blank">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>
          <li class="social-item">
            <a href="mailto:TUCORREO@ejemplo.com" class="social-link">
              <ion-icon name="mail-outline"></ion-icon>
            </a>
          </li>
        </ul>
        

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Projects</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Contact</button>
          </li>

        </ul>

      </nav>





      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media.
            I enjoy
            turning complex problems into simple, beautiful and intuitive designs.
          </p>

          <p>
            My job is to build your website so that it is functional and user-friendly but at the same time attractive.
            Moreover, I
            add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring
            across your
            message and identity in the most creative way. I created web design for many famous brand companies.
          </p>
        </section>


        <!--
          - service // quitada/cambiada por una seccion de SKILLS
        -->

        <section class="service">
          <div class="container">
            <h3 class="h3 service-title">My Skills</h3>
        
            <!-- Habilidades Técnicas -->
            <h4 class="skills-category">Habilidades Técnicas</h4>
            <ul class="skills-list content-card">
        
              <li class="skills-item">
                <img src="./assets/images/python.png" alt="Python Logo">
                <div class="skill-details">
                  <h4>Python</h4>
                  <p>Experiencia en Pandas, NumPy, Scikit-learn, TensorFlow, y PyTorch.</p>
                </div>
              </li>
        
              <li class="skills-item">
                <img src="./assets/images/servidor-sql.png" alt="SQL Logo">
                <div class="skill-details">
                  <h4>SQL</h4>
                  <p>Consultas avanzadas en SQL para manipulación y análisis de datos.</p>
                </div>
              </li>
        
              <li class="skills-item">
                <img src="./assets/images/deep-learning.svg" alt="Machine Learning Logo">
                <div class="skill-details">
                  <h4>Machine Learning</h4>
                  <p>Implementación de modelos predictivos y clasificación de datos.</p>
                </div>
              </li>
        
              <li class="skills-item">
                <img src="./assets/images/data-visualization.svg" alt="Data Visualization Logo">
                <div class="skill-details">
                  <h4>Visualización de Datos</h4>
                  <p>Creación de dashboards con Tableau, Power BI y Matplotlib.</p>
                </div>
              </li>
        
              <li class="skills-item">
                <img src="./assets/images/cloud.svg" alt="Cloud Computing Logo">
                <div class="skill-details">
                  <h4>Cloud Computing</h4>
                  <p>Experiencia con AWS, Google Cloud y Azure en entornos de datos.</p>
                </div>
              </li>
        
            </ul>
        
            <!-- Habilidades Blandas -->
            <h4 class="skills-category">Habilidades Blandas</h4>
            <ul class="skills-list content-card">
        
              <li class="skills-item">
                <img src="./assets/images/problem-solving.svg" alt="Problem Solving Icon">
                <div class="skill-details">
                  <h4>Resolución de Problemas</h4>
                  <p>Capacidad para analizar y resolver problemas complejos con datos.</p>
                </div>
              </li>
        
              <li class="skills-item">
                <img src="./assets/images/communication.svg" alt="Communication Icon">
                <div class="skill-details">
                  <h4>Comunicación</h4>
                  <p>Explicación efectiva de análisis y resultados a diferentes audiencias.</p>
                </div>
              </li>
        
              <li class="skills-item">
                <img src="./assets/images/teamwork.svg" alt="Teamwork Icon">
                <div class="skill-details">
                  <h4>Trabajo en Equipo</h4>
                  <p>Experiencia colaborando en equipos multidisciplinarios.</p>
                </div>
              </li>
        
              <li class="skills-item">
                <img src="./assets/images/critical-thinking.svg" alt="Critical Thinking Icon">
                <div class="skill-details">
                  <h4>Pensamiento Crítico</h4>
                  <p>Evaluación objetiva de datos para toma de decisiones estratégicas.</p>
                </div>
              </li>
        
            </ul>
        
          </div>
        </section>
        


        <!--
          - testimonials // actualmente invisible.
        -->

        <section class="testimonials">

          <h3 class="h3 testimonials-title">Testimonials</h3>

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-1.png" alt="Daniel lewis" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Daniel lewis</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-2.png" alt="Jessica miller" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Jessica miller</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-3.png" alt="Emily evans" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Emily evans</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-4.png" alt="Henry william" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry william</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </section>


        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="./assets/images/avatar-1.png" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

              <img src="./assets/images/icon-quote.svg" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>

              <div data-modal-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>

            </div>

          </section>

        </div>


        <!--
          - clients // actualmente invisible.
        -->

        <section class="clients">

          <h3 class="h3 clients-title">Clients</h3>

          <ul class="clients-list has-scrollbar">

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-1-color.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-2-color.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-3-color.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-4-color.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-5-color.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-6-color.png" alt="client logo">
              </a>
            </li>

          </ul>

        </section>

      </article>





      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline experience">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Creative director</h4>

              <span>2015 — Present</span>

              <p class="timeline-text">
                Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas
                molestias
                exceptur.
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Art director</h4>

              <span>2013 — 2015</span>

              <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                quas molestias
                exceptur.
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Web designer</h4>

              <span>2010 — 2013</span>

              <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                quas molestias
                exceptur.
              </p>

            </li>

          </ol>

        </section>


        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">University school of the arts</h4>

              <span>2007 — 2008</span>

              <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                quas molestias
                exceptur.
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">New york academy of art</h4>

              <span>2006 — 2007</span>

              <p class="timeline-text">
                Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus, omnis voluptas assumenda est
                omnis..
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">High school of art and design</h4>

              <span>2002 — 2004</span>

              <p class="timeline-text">
                Duis aute irure dolor in reprehenderit in voluptate, quila voluptas mag odit aut fugit, sed consequuntur
                magni dolores
                eos.
              </p>

            </li>

          </ol>

        </section>

        <!--Eliminamos de aqui la seccion 'Skills' -->

      </article>





      <!--
        - #PROJECTS
      -->

      <article class="portfolio" data-page="projects">

        <header>
          <h2 class="h2 article-title">Projects</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Data Analysis</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Machine Learning</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>PLN</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-select-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Data Analysis</button>
              </li>

              <li class="select-item">
                <button data-select-item>Machine Learning</button>
              </li>

              <li class="select-item">
                <button data-select-item>PNL</button>
              </li>

            </ul>

          </div>

          <ul class="project-list">
            <li class="project-item active" data-filter-item data-category="data analysis">
              <a href="https://developers.google.com/recaptcha/docs/v3?hl=es-419">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./assets/images/project-1.jpg" alt="finance" loading="lazy">
                </figure>
                <div class="project-info">
                  <h3 class="project-title">Finance</h3>
                  <p class="project-category">Data Analysis</p>
                  <p class="project-description">Análisis financiero basado en datos históricos para predecir tendencias del mercado.</p>
                  <ul class="project-skills">
                    <li class="skill">Python</li>
                    <li class="skill">Pandas</li>
                    <li class="skill">Matplotlib</li>
                    <li class="skill">SQL</li>
                  </ul>
                </div>
              </a>
            </li>
          
            <li class="project-item active" data-filter-item data-category="machine learning">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./assets/images/project-2.png" alt="ML Project" loading="lazy">
                </figure>
                <div class="project-info">
                  <h3 class="project-title">ML Classifier</h3>
                  <p class="project-category">Machine Learning</p>
                  <p class="project-description">Modelo de clasificación de imágenes usando redes neuronales convolucionales.</p>
                  <ul class="project-skills">
                    <li class="skill">Python</li>
                    <li class="skill">TensorFlow</li>
                    <li class="skill">Keras</li>
                    <li class="skill">OpenCV</li>
                  </ul>
                </div>
              </a>
            </li>
          </ul>

        </section>

      </article>



      <!--
        - #CONTACT
      -->

      <article class="contact" data-page="contact">

        <header>
          <h2 class="h2 article-title">Contact</h2>
        </header>

        <section class="mapbox" data-mapbox>
          <figure>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115903.57678175328!2d-65.51303085716647!3d-24.795906395718053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3a35151b7f9%3A0xa5cd992cd587f206!2sSalta%2C%20Salta%20Province!5e0!3m2!1sen!2sar!4v1728917968018!5m2!1sen!2sar"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </figure>
        </section>

        <section class="contact-form">
          <h3 class="h3 form-title">Contact Form</h3>
          <form action="{{ url_for('submit_form') }}" method="POST" class="form" data-form>
            
            <div class="input-wrapper">
              <input type="text" name="name" class="form-input" placeholder="Full name" required data-form-input>
              <input type="email" name="correo_electronico" class="form-input" placeholder="Email address" required data-form-input>
            </div>
            
            <input type="tel" name="numero_telefono" class="form-input" placeholder="Phone Number" required data-form-input>
            
            <select name="ciudad_id" id="ciudad" class="form-select" required onchange="mostrarOtraCiudad(this)">
              <option value="" disabled selected>Seleccione una ciudad</option>
                {% for ciudad in ciudades %}
              <option value="{{ ciudad.id }}">{{ ciudad.nombre_ciudad }}</option>
               {% endfor %}
              <option value="otra">Otra (Especificar)</option>
            </select>
            <input type="text" name="otra_ciudad" id="otra_ciudad" class="form-input" placeholder="Ingrese su ciudad" style="display: none;">
          
            
            <textarea name="mensaje" class="form-input" placeholder="Your Message" required data-form-input></textarea>
            
            <select name="motivo_contacto" class="form-input" required>
              <option value="" disabled selected>Seleccione el motivo de contacto</option>
              <option value="job-proposal">Propuesta Laboral</option>
              <option value="collaboration">Colaboración</option>
              <option value="consultation">Consulta</option>
              <option value="other">Otro</option>
            </select>
            
            <input type="url" name="linkedin_o_web" class="form-input" placeholder="LinkedIn or Website (optional)" data-form-input>
            
            <button class="form-btn" type="submit" disabled data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Enviar Mensaje</span>
            </button>
            
          </form>
        </section>

      </article>

    </div>

  </main>

  <!--
    - Boton de cambio de idioma
  -->
  <div id="language-toggle" data-language-toggle>
    <div class="language-button active" data-language-button>ES</div>
    <div class="language-button" data-language-button>EN</div>
  </div>




  <!--
    - custom js link
  -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  

</body>

</html>